@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>After design and develop the web application on azure cloud services, developer able to learn the benefits of using cloud services over on premise for hosting web applications. Web application and database hosted on cloud is easier to scale up compare with on premise.
In overall, publish a website is easier by using azure as it only require visual studio 2015 and can be done with few clicks to complete compare with on premise as it involve other department and take more times to complete the deployment.
</p>
