@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    2E,lorong lanag barat 20c/6<br />
    Sibu, Sarawak 96000<br />
    <abbr title="Phone">P:</abbr>
    0123456789
</address>

<address>
    <strong>Marketing:</strong> <a href="adsasd123@gmail.com">support@lucky.com</a>
</address>